@media (max-width: 1000px) 
{
    div#InfoStation
    {
        width:30vw;
    }
    #ImageStation img
    {
        width:30vw;
        height:10vh;
    }
    .search-wrapper
    {
        width:30vw;
    }
    .search-wrapper.active .input-holder .search-input
    {
        font-size:1.8vw;
        margin-top: 4vw;
    }
    #input-holder
    {
        width:30vw;
    }
    #NomStation
    {
        font-size:2vw;
        width: 28vw;
        margin:unset;
        margin-left : 1vw;
        margin-top:5vh;
        margin-bottom:2vw;
    }
    #StatutStation
    {
        width:28vw;
  
        margin-left : 1vw;
        text-align: center;
    }
    .libelleBloc2
    {
        font-size: 1vh;
    }
    .ligneBloc2
    {
        height:11vh;
    }
    #SecondBlocStation
    {
        height:64vh;
    }

    .container, .dropdown
    {
        width:21vw;
    }
    #FirstBlocStation
    {
        width:30vw;
        height:24vh;
    } 
    .dropdown
    {
        font-size:1vh;
    }
}