@charset "ISO-8859-1";
* {
	margin: 0;
	padding: 0;
}
html, body 
{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;	background-color: #F6F8FA;
}
main 
{
	margin: auto;
	width: 100%;
	min-height: 48vw;
}
main#MapMain
{
	margin: auto;
	width: 100%;
	min-height: 48vh;
}


/****************************************************
_   _               _                
| \ | |             | |               
|  \| | __ ___   __ | |__   __ _ _ __ 
| . ` |/ _` \ \ / / | '_ \ / _` | '__|
| |\  | (_| |\ V /  | |_) | (_| | |   
\_| \_/\__,_| \_/   |_.__/ \__,_|_|   
												
****************************************************/

#Navigation
{
    background-color:transparent;
    width:auto;
    height:40px;
    padding-left:24px;
    padding-right:24px;
    padding-top:12px;
    padding-bottom:12px;
    position:absolute;
    top:0;
    z-index:999999
    ;transition:all .2s ease-in-out;
    right:0
}
#Navigation a,#Navigation span
{
    font-weight:700;
    color:#fff;
    text-decoration:none;
    min-width:40px;
    min-height:40px;
    display:block;
    line-height:40px;
    transition:all .2s ease-in-out;
    padding-right:4px;
    padding-left:4px;
    padding-top:1px;
    padding-bottom:1px;
}
#Navigation ul
{
    display:flex;
    float:right
}
#Navigation li
{
    display:table-cell;
    float:right;
    margin-right:1vw;
    font-size:1.5vw;
}
#Navigation li a:hover
{
    transition:color .33s ease,background-color .33s ease;
    -webkit-backdrop-filter:blur(10px);
    backdrop-filter:blur(10px);
    background-color:grey;
}
#Navigation a
{
    margin-right:1vw;
    border-radius:10px;
}

/****************************************************
______          _            
|  ___|        | |           
| |_ ___   ___ | |_ ___ _ __ 
|  _/ _ \ / _ \| __/ _ \ '__|
| || (_) | (_) | ||  __/ |   
\_| \___/ \___/ \__\___|_|  

****************************************************/

#footer {
	background-color: black;
	color: white;
    display: flex;
    flex-direction: column;
    padding-bottom:2vw;
}

#footer img {
	width: 96px;
	height: 96px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
}
#footer  a {
	text-decoration: none;
    width: max-content;
    margin: auto;
}

#footer
{
    background-color:#000;
    color:#fff;
    display:flex;
    flex-direction:column;
    padding-bottom:2vw;
}
#footer img
{
    width:96px;
    height:96px;
    margin-bottom:5px;
    margin-left:auto;
    margin-right:auto;
}
#footer a
{
    text-decoration:none;
    width:max-content;
    margin:auto;
}

/* *******************************************************
                        ACCUEIL 
*********************************************************/

#topAccueil
{
    height:50vw;
    display:flex;
    flex-direction:row;
    background-image:url(../Images/Accueil1.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-position-y:-4vw;
}
#TopTexte
{
    padding-top:37vw;
    height:10vw;
    width:65vw;
    margin-left:2vw;
    font-weight:700;
    color:#fff;
    font-size:2vw;
}
.MidAccueil,.MidAccueil2,.MidAccueil3
{
    height:40vw;
    display:flex;
    flex-direction:row;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    margin:auto;
}
.MidAccueil,.MidAccueil2,.MidAccueil3
{
    background-color:#000;
    color:#fff
}
.MidAccueilDroite,.MidAccueilGauche
{
    width:50%;
    height:32vw;
    margin:auto
}
.TexteDroite
{
    width:100%;
    margin-top:2vw;
    margin-right:3vw
}
.TexteDroite span
{
    font-size:3vw;
    font-weight:700
}
.TexteDroite2 p
{
    font-size:1.5vw;
}
.TexteDroite2
{
    width:90%;
    text-align:left;
    margin-top:1vw
}
.MidAccueilDroite img
{
    width:20vw;
    height:20vw;
}
.MidAccueilDroite img
{
    width:40vw;
    height:25vw;
    margin-right:5vw;
}
.MidAccueilGauche
{
    width:90%;
    text-align:left;
    margin-top:6vw;
    margin-left:5vw;
}
.TexteGaucheTitre
{
    font-size:3vw;
    font-weight:700;
    width:100%;
    margin-top:2vw;
    margin-right:3vw;
}
.TexteGauche
{
    width:90%;
    text-align:left;
    margin-top:1vw;
    font-size:1.5vw;
}
.MidAccueilGaucheImage img
{
    width:30vw;
    height:25vw;
    margin-left:5vw;
}
.MidAccueilDroiteTexte
{
    width:90%;
    text-align:left;
    margin-top:auto;
    margin-bottom:auto;
    margin-left:5vw;
}
.MidAccueilGaucheImage
{
    margin-bottom: auto;
    margin-top: auto;
}
/*********************************************************
                            MAP 
*********************************************************/

#TexteResult 
{
    transition: all 0.25s linear;
    position: relative;
}

#TexteResult:before
{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #61a3ff;
    position: absolute;
    left: 0;
    bottom: -3px; 
    transform-origin: left; 
    transform: scale(0);
    transition: 0.25s linear;
}

#TexteResult:hover:before
{
    transform: scale(1);
}

#resultSearch{
	width:inherit;
    border-radius: 0px 0px 10px 10px; 
    margin-bottom:0.5vw;
    position: absolute;
    background-color: white; 
    margin-top: 6.2vh;
}

#ResultChild{
	width : auto;
	height : 2vh;
    margin-left:1vw;
    margin-top:0.5vw;
    margin-bottom:0.5vw;
}

#ResultChild:hover{
	cursor:pointer;
}
div#InfoStation
{
    background-color:#fff;
    display:none;
    position:absolute;
    top:0;
    width:40vh;
    left:0;
    height:100vh;
    text-decoration:none;
    transition:1s;
    z-index:2;
    flex-direction:column;
}
div#map
{
    z-index:1;
}
#FirstBlocStation
{
    display:flex;
    flex-direction:column;
    width:40vh;
    height:32vh;
    font-family:Google Sans,Roboto,Arial,sans-serif;
    line-height:1.75rem;
    font-size:1.375rem;
    letter-spacing:0;
    font-weight:400;
    padding-bottom:1vw;
    border-bottom:1px solid #e8eaed;
}
#ImageStation
{
    width:max-content
}
#ImageStation img
{
    width:40vh;
    height:20vh;
}
#NomStation
{
    width:auto;
    text-align: center;
    margin-top:1vw;
    font-size: 2vh;
}
#StatutStation
{
    margin-top:1vw;
    margin-right:auto;
    margin-left:auto;
    color:green;
}
#SecondBlocStation
{
    height:58vh;
    border-bottom:1px solid #e8eaed;
    display:flex;
    flex-direction:column;
}
.ligneBloc2
{
    margin-left:2vw;
    display:flex;
    width:90%;
    height:9vh;
}
.logobloc2
{
    margin-top:auto;
    margin-bottom:auto;
    height:40px;
    width:40px;
    font-size: 1vw;
}
.logobloc2 img
{
    width:inherit;
}
.libelleBloc2
{
    width:14vw;
    margin-left:1vw;
    margin-top:auto;
    margin-bottom:auto;
    font-size: 2vh;
}
#map
{
    height:100vh!important;
}
span.nbBikes
{
    color:#555;
    padding:5px 0 10px;
    display:inherit;
}
.container
{
    margin:0 auto 0;
    text-align:center;
}
.dropdown
{
    background-color:#fff;
    border-radius:2px;
    box-shadow:0 0 2px #ccc;
    transition:all .5s ease;
    position:relative;
    font-size:1vw;
    color:#474747;
    height:100%;
    text-align:left;
    float:left;
}
.dropdown .select
{
    cursor:pointer;
    display:block;
    padding:1vh;
}
.dropdown .select>i
{
    font-size:13px;
    color:#888;
    cursor:pointer;
    transition:all .3s ease-in-out;
    float:right;
    line-height:20px;
}
.dropdown:hover
{
    box-shadow:0 0 4px #ccc;
}
.dropdown:active
{
    background-color:#f8f8f8;
}
.dropdown.active,.dropdown.active:hover
{
    box-shadow:0 0 4px #ccc;
    border-radius:2px 2px 0 0;
    background-color:#f8f8f8;
}
.dropdown.active .select>i
{
    transform:rotate(-90deg);
}
.dropdown .dropdown-menu
{
    position:absolute;
    background-color:#fff;
    width:100%;
    left:0;
    margin-top:1px;
    box-shadow:0 1px 2px #ccc;
    border-radius:0 1px 2px 2px;
    overflow:hidden;
    display:none;
    max-height:144px;
    overflow-y:auto;
    z-index:9;
}
.dropdown .dropdown-menu li
{
    padding:10px;
    transition:all .2s ease-in-out;
    cursor:pointer;
}
.dropdown .dropdown-menu
{
    padding:0;
    list-style:none;
}
.dropdown .dropdown-menu li:hover
{
    background-color:#f2f2f2;
}
.dropdown .dropdown-menu li:active
{
    background-color:#e2e2e2;
}
.search-wrapper
{
    width:40vh;
    height:6vh;
    box-shadow:rgba(0,0,0,.35) 0 5px 15px;
}
.search-wrapper .input-holder
{
    height:70px;
    width:70px;
    overflow:hidden;
    border-radius:6px;
    position:relative;
    transition:all .3s ease-in-out;
}
.search-wrapper.active .input-holder
{
    width:32vh;
    border-radius:50px;
    transition:all .5s cubic-bezier(0,.105,.035,1.57);
    height: inherit;
}
.search-wrapper .input-holder .search-input
{
    width:100%;
    height:50px;
    padding:0 70px 0 20px;
    opacity:0;
    position:absolute;
    top:0;
    left:0;
    background:0 0;
    box-sizing:border-box;
    border:none;
    outline:0;
    font-family:"Open Sans",Arial,Verdana;
    font-size:16px;
    font-weight:400;
    line-height:20px;
    transform:translate(0,60px);
    transition:all .3s cubic-bezier(0,.105,.035,1.57);
    transition-delay:.3s;
}
.search-wrapper.active .input-holder .search-input
{
    opacity:1;
    transform:translate(0,10px);
    font-size: 2vh;
    height: max-content;
    margin-top:1vh;
}
.search-wrapper .input-holder .search-icon
{
    width:2vw;
    height:1vh;
    border:none;
    border-radius:6px;
    background:#fff;
    padding:0;
    outline:0;
    position:relative;
    z-index:2;
    cursor:pointer;
    transition:all .3s ease-in-out;
}
.search-wrapper.active .input-holder .search-icon
{
    height:2.5vh;
    margin:10px;
    border-radius:30px;
    margin-top:2vh;
    margin-left:13vw;
    margin-right: 1vw;
}
.search-wrapper .input-holder .search-icon span
{
    width:22px;
    height:22px;
    display:inline-block;
    vertical-align:middle;
    position:relative;
    transform:rotate(45deg);
    transition:all .4s cubic-bezier(.65,-.6,.24,1.65);
}
.search-wrapper.active .input-holder .search-icon span
{
    transform:rotate(-45deg);
}
.search-wrapper .input-holder .search-icon span::after,.search-wrapper .input-holder .search-icon span::before
{
    position:absolute;content:''
}
.search-wrapper .input-holder .search-icon span::before
{
    width:4px;
    height:11px;
    left:9px;
    top:18px;
    border-radius:2px;
    background:#fe5f55;
}
.search-wrapper .input-holder .search-icon span::after
{
    width:14px;
    height:14px;
    left:0;
    top:0;
    border-radius:16px;
    border:4px solid #fe5f55;
}
.search-wrapper .close
{
    position:absolute;
    z-index:1;
    top:21px;
    right:20px;
    width:25px;
    height:25px;
    cursor:pointer;
    transform:rotate(-180deg);
    transition:all .3s cubic-bezier(.285,-.45,.935,.11);
    transition-delay:.2s;
}
.search-wrapper.active .close
{
    right:3vw;
    transform:rotate(45deg);
    transition:all .6s cubic-bezier(0,.105,.035,1.57);
    transition-delay:.5s;
}
.search-wrapper .close::after,.search-wrapper .close::before
{
    position:absolute;content:'';
    background:#fe5f55;
    border-radius:2px;
}
.search-wrapper .close::before
{
    width:5px;
    height:25px;
    left:10px;
    top:0;
}
.search-wrapper .close::after
{
    width:25px;
    height:5px;
    left:0;
    top:10px;
}

/*********************************************************
                            Info 
*********************************************************/

#ContentInfo{
    background-color: black;
    height:100vh;
    display: flex;
}

#ContentInfoGauche , #ContentInfoDroite{
    margin-top: 5vh;
    width:50vw;
    color:white;
    font-weight: bold;
}
#ContentInfoGauche
{
    display: flex;
    flex-direction: column;
}
.InfoTitre
{
    font-size:2vw;
    margin-top: 10vh;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
#ConteneurListe,#ConteneurListeStations{
    height: 50vh;
    margin-top:5vh;
    overflow-y: scroll;
    font-size:1vw;
    background-color: rgb(84,41,146);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding:10px;
    border-radius:10px;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
}
#ConteneurListe:hover,#ConteneurListeStations:hover
{
    transform: translateY(-10px);
}
#ContentInfoDroite{
    color:white;
}
#ConteneurListe div, #ConteneurListeStations div{
    height:4vh;
    width:auto;
    margin-left : 1vw;
    border-radius: 10px;
    text-align: center;
  }

#ConteneurListe div:hover ,#ConteneurListeStations div:hover{
    background-color: rgb(39,27,88);
	border-radius:10px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor:pointer;
    transform: translateY(-10px);
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{

	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #444444;
}
